{% extends "landing.html" %}

{% block content %}
    <style>
        .logintext{
            color:rgb(155, 235, 18);
        }
    </style>
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=20) }}<br>
            {% for error in form.username.errors %}
            <span style="color:red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=34) }}<br>
            {% for error in form.password.errors %}
            <span style="color:red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p class="submit">{{ form.submit() }}</p>
    </form>

    <p>New User? <a href="{{url_for('register')}}" class="reg">Click to Register !</a></p>
    <script>
        document.querySelector('.login').style.display="block"
    </script>
{% endblock %}